.contenido{
    background-color: rgba(128, 128, 128, 0.705);
    padding: 15px;
    color: map-get($colors, "light");

    @include pc{
        p{
            visibility: hidden;
            opacity: 0;
            font-size: 0;
            transition: visibility 0s, opacity 0.7s, font-size 0.1s     
        }
    }
}

.sacramentos{
    .tarjeta{
        height: 40vh;
        @include dflex(center);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;

        @include tablet{
            height: 25vh;
        }

        @include pc{
            height: 80vh;

            &:hover{
                p{
                    visibility: visible;
                    opacity: 1;
                    font-size: var(--bs-body-font-size);
                }
            }
        }

        &__bautismo{
            background-image: url(../../assets/bautismos.jpg);
            background-size: cover;
        }

        &__comunion{
            background-image: url(../../assets/primera-comunion.jpg);
            background-size: cover;
        }

        &__cateq-adultos{
            background-image: url(../../assets/catequesis-adultos.jpeg);
            background-size: cover;
        }

        &__matrimonio{
            background-image: url(../../assets/matrimonio.jpg);
            background-size: cover;
        }

        &__confesion{
            background-image: url(../../assets/confesion.jpg);
            background-size: cover;
        }

        &__uncion{
            background-image: url(../../assets/uncion.jpg);
            background-size: cover;
        }
    }
}

