.carousel{
    background-color: rgb(241, 241, 241);
    height: 30vh;

    @include pc{
        height: 90vh;
    }

    &-inner{
        overflow: hidden;
        max-height: 100%;
        display: flex;
    }

    &-item img{
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &-caption, &-control-prev-icon, &-control-next-icon{
        background-color: map-get($colors, "transparent1")
    }
}
